@import "tailwindcss";
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --width: 800;
  --height: 600;
  --font-color: #e1d8d4;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
}

#reactUI {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  transform: translate(-50%, -50%) scale(var(--scale, 0));
  transform-origin: center;
  box-sizing: border-box;
  z-index: 10;
  user-select: none;
  pointer-events: none;
}

#reactUI .game {
  pointer-events: auto;
}

.upgrades-menu-container {
    z-index: 100;
    pointer-events: auto;
}